<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la petición NO es un archivo real
    RewriteCond %{REQUEST_FILENAME} !-f
    # Y si la petición NO es una carpeta real
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo a index.php
    RewriteRule ^ index.php [L]
</IfModule>