version: '3.8'

services:
  app:
    # 1. Le dice a Docker que CONSTRUYA usando el Dockerfile (v3.0)
    build: .
    
    # 2. Conecta el puerto
    ports:
      - "8000:80"
      
    # 3. Volúmenes (El truco final)
    volumes:
      # a) Espejea tu código local para "live-edit"
      - .:/var/www/html/
      
      # b) ¡LA CLAVE! "Protege" la carpeta 'vendor' que se creó 
      #    en la imagen. Docker ignorará esta carpeta del "espejo".
      - /var/www/html/vendor
      
      # c) Inyecta tu llave secreta (como antes)
      - ./firebase-credentials.json:/var/www/html/firebase-credentials.json