services:
  php-apache:
    build: ./Backend # <--- CORREGIDO: Le dice dónde está el Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./Backend:/var/www/html # <--- CORREGIDO: Le dice qué carpeta montar