
services:
  php-apache:
    build: ./Backend
    
    ports:
      - "8000:80"
      
    volumes:
      - ./Backend:/var/www/html
      - ./Frontend:/var/www/html/frontend
      - /var/www/html/vendor