version: '3.8'

services:
  php-apache:
    build: 
      context: ./Backend
      dockerfile: ./dockerfile
    container_name: cimehijo_app
    ports:
      - "8000:80"
    volumes:
      - ./Backend:/var/www/html
      - ./Frontend:/var/www/html/frontend

    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=${MYSQL_DATABASE}
      - DB_USER=root
      - DB_PASS=${MYSQL_ROOT_PASSWORD}

  db:
    image: mysql:8.0
    container_name: cimehijo_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_CHARACTER_SET_SERVER: utf8mb4
      MYSQL_COLLATION_SERVER: utf8mb4_unicode_ci
      TZ: America/Santiago
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./Backend/Database.sql.txt:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  db_data: